html{
    height: 100%;
    font-family: sans-serif;
}
body{
    height: 100dvh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}
#app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.balance-display{
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 231);
    height: 25%;
}
.current-balance{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 182, 121);
}
.income-expenses{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

#income-form{
    background-color: #68e783;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
}
#income-form input{
    outline: none;
}
#income-form h1{
    padding: 15px;
}
.income-value{
    flex: 2.5;
    display: flex;
    align-items: flex-end;
    
    padding: 30px;
    background-color: #fb00ff51;
}
.income-value input{
    width: 100%;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 10px;
}
.input-infos{
    flex: 7.5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ff7f50b1;
    border-radius: 30px 30px 0 0;
    width: 100%;
}